<div class="dashboard-container" [class.loading]="isLoading">
  
  <!-- Overlay de chargement -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner"></div>
  </div>

  <section class="section">
    <h2 class="clickable">
      <i class="fas fa-history"></i>
      Historique des écoutes
    </h2>
    <div class="card-list">
      <div *ngFor="let item of items; let i = index"
           class="card"
           (mouseenter)="hoveredIndex = i"
           (mouseleave)="hoveredIndex = -1">
        <div class="rank-container">
          <div class="image-wrapper">
            <img [src]="getImage(item)"
                 alt="Cover"
                 class="card-image"
                 [class.zoomed]="hoveredIndex === i" />
          </div>
        </div>
        <div class="card-content">
          <h3 [title]="item.track" [class.highlighted]="hoveredIndex === i">
            {{ item.track }}
          </h3>
          <p [title]="item.artist"
             [class.highlighted]="hoveredIndex === i">
            {{ item.artist }}
          </p>
          <p class="listen-count" [class.highlighted]="hoveredIndex === i">
            {{ item.count }} écoutes
          </p>
          <p class="last-listen" [class.highlighted]="hoveredIndex === i">
            {{ item.formattedTime }}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>